<mat-card class="example-card">
  <!-- <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header> -->
  <img mat-card-image src="{{product.url?product.url:''}}" alt="Photo of a Shiba Inu">
  <mat-card-content>


    <p>{{product.name}}</p>
    <p>{{product.price.toString() | currency:'INR'}}</p>


  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="accent" style="margin: 10px 10px;">Add to cart</button>
    <button mat-flat-button color="primary" style="margin: 10px 10px;">Buy now</button>
  </mat-card-actions>
</mat-card>
